html,body {
  display: flex;
  justify-content: center;
  overflow: hidden;

  text-align: center;
}

.app {
  width: 375px;
  border: solid 2px rgb(151, 124, 175);
}

.header {
  background-color: rgba(128, 86, 177, 0.932);
  height: 10vh;

}


.from {
  background-color: rgba(118, 31, 231, 0.932);
  height: 25vh;
  padding-top: 2vh;
  color: white;
}

.meteo {
  background-color: rgba(92, 202, 245, 0.904);
  height: 20vh;
  padding-top: 2vh;
  color:white;
  font-size: 20px;
}

.who {
  background-color: rgba(154, 151, 184  );
  height: 40vh;
  padding-top: 2vh;
  color: white;
}