html,body {
  display: flex;
  justify-content: center;
  overflow: hidden;

  text-align: center;
}

.app {
  width: 375px;
  border: solid 2px rgb(151, 124, 175);
}

.header {
  background-color: rgb(211, 109, 26);
  height: 8vh;
  padding-top: 2vh;
  color: white;
}


.from {
  background-color: rgba(218, 22, 22, 0.555);
  height: 25vh;
  padding-top: 2vh;
  color: white;
}

.meteo {
  background-color: rgba(22, 241, 231, 0.555);
  height: 20vh;
  padding-top: 2vh;
}

.who {
  background-color: rgba(177, 33, 153, 0.555);
  height: 40vh;
  padding-top: 2vh;
  color: white;
}