html,body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  
  text-align: center;
}

.app {
  width: 375px;
  border: solid 2px rgb(151, 124, 175);
}

.header {
  background-color: rgb(192, 195, 204);
  height: 10vh;

}


.from {
  background-color: rgb(192, 195, 204);
  /* background-color: rgb(2, 36, 81); */
  height: 25vh;
  padding-top: 2vh;
  color: rgb(78, 122, 161);

}

.meteo {
  background-color:rgb(80, 145, 233);
  height: 20vh;
  padding-top: 2vh;
  color:white;
  font-size: 20px;
}

.who {
  background-color: rgb(192, 195, 204);
  height: 40vh;
  padding-top: 2vh;
  color: rgb(78, 122, 161);
}

.footer {
  /* background-color: rgb(78, 99, 130); */
  /* background-color: rgb(78, 122, 161); */
  background-color: rgb(2, 36, 81);
  height: 10vh;
  bottom: 0;
  position: absolute;
  color: white;
  width: 375px;
}