.iconsLine {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 0.2vh white;
  background-color: rgb(2, 36, 81);
  padding-bottom : 0.4%;
  height: 6vh;
  padding: 2vh;
}

ul li {
  list-style-type: circle;
}

.displayMap {
  overflow: hidden;
}

.displaySpeed {
  display:flex;
  justify-content: center;
}

.icons {
  width: 40px;
  height: 40px;
}

.startIcon {
  width: 50px;
  height: 50px;
}

.textAlign {
  text-align: left;
}

.ipPublic {
  color:rgb(111, 165, 241);
  border-bottom : solid 1px rgb(111, 165, 241);
  margin-top:0vh;
}

.custom-overlay {
  background: rgba(2, 36, 81, 0.7);
}

.custom-modal {
  background: white;
  max-width: 500px;
  width: 100%;
}

.iconAlign {
  display: flex;
  justify-content: center;
}

.textColor {
  color : rgb(80, 145, 233);
  text-decoration: underline rgb(80, 145, 233);
}

.underLoc {
  text-decoration: underline rgb(80, 145, 233);
}



.transition-enter {
  transform: scale(0);
}
.transition-enter-active {
  transform: scale(1);
  transition: transform 1000ms ease;
}
.transition-exit {
  transform: scale(1);
}
.transition-exit-active {
  transform: scale(0);
  transition: transform 1000ms ease;
}

.displayMap {
  overflow: hidden;
}